<mat-card-subtitle>listing suppliers</mat-card-subtitle>
@if (supplierObservable | async) {
  <div class="container wrap">
    @for (supplier of suppliers; track supplier.id) {
      <mat-card class="item">
        <mat-card-content [routerLink]="['show', supplier.id]">
          <mat-card-subtitle>{{ supplier.companyName }}</mat-card-subtitle>
          <span>{{ supplier.contactName }}</span>
          <span>{{ supplier.adress?.phone }}</span>
        </mat-card-content>
      </mat-card>
    }
  </div>
} @else {
  <loading-bar></loading-bar>
}
<mat-card-actions align="end">
  <button mat-button [routerLink]="['/suppliers/new']">New</button>
</mat-card-actions>
